Babel==1.3
Mako==0.9.0
MarkupSafe==0.18
PIL==1.1.7
PyChart==1.26.1
PyYAML==3.10
Werkzeug==0.9.4
docutils==0.11
lxml==3.2.3
mock==1.0.1
psycopg2==2.5.1
python-dateutil==2.1
python-openid==2.2.5
pytz==2013d
redis==2.8.0
reportlab==2.7
rq==0.3.11
simplejson==3.3.0
six==1.4.1
times==0.6.2
unittest2==0.5.1
wsgiref==0.1.2
